.productPage {
  background-color: white;
  min-height: 100vh;
  min-width: 100vw;
}

.mainproductContainer {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
}

.productContainer {
  display: flex;
}

.imageContainer {
  /* flex: 1; */
  width: 300px;
  /* height: 200px; */
}

.image {
  width: 100%;
  border-radius: 5px;
}

.detailsContainer {
  flex: 1;
  margin-left: 20px;
}

.productTitle {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.price {
  font-size: 18px;
  color: #007bff;
  margin-bottom: 10px;
}

.addToCartButton {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.addToCartButton:hover {
  background-color: #0056b3;
}

.noDetails {
  text-align: center;
  margin-top: 50px;
  font-size: 18px;
  color: red;
}
